* {
    background-color: rgb(32, 32, 32);
    margin: 0 auto;
    justify-content: center;
    outline: hidden;
    overflow: hidden;
}

.pic {
    margin: 0 auto;
    align-items: center;
    image-rendering: smooth;
    width: 100%;
    height: 100%;
}

.gif {
    display: none;
    margin: 0 auto;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 80%;
    left: 50%;
    transform: translate(-55%, -2050%);
}

.Start{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #c6ff00;
}

.text1 {
    color: #c6ff00;
    font-family: 'Monofonto', monospace;
    top: 80%;
    left: 50%;
    transform: translate(25%, -5500%);
    font-size: 20px;
    background-color: transparent;
    display: none;
}

.button2 {
    top: 80%;
    left: 50%;
    transform: translate(-20%, -4500%);
    font-size: 20px;
    background-color: transparent;
}

.button4 {
    top: 80%;
    left: 50%;
    transform: translate(-25%, -3000%);
    font-size: 20px;
    background-color: transparent;
}

.text2 {
    color: #c6ff00;
    font-family: 'Monofonto', monospace;
    font-size: 20px;
    background-color: transparent;
    display: none;
}

.text3 {
    color: #c6ff00;
    font-family: 'Monofonto', monospace;
    top: 80%;
    left: 50%;
    transform: translate(22%, -1950%);
    font-size: 15px;
    background-color: transparent;
    display: none;
}

.text4 {
    color: #c6ff00;
    font-family: 'Monofonto', monospace;
    font-size: 20px;
    background-color: transparent;
    display: none;
}

.Done {
    position: absolute;
    top: 185%;
    left: 50%;
    transform: translate(-50%, -3000%);
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #c6ff00;
    display: none;
}